.body
{
	background-color:white;
}

.main_frame
{
	width:950px;
	margin-left:auto;
	margin-right:auto;
	/*border: 1px solid purple;*/
}

/*******************************************************
**			Top Frame
**				Logo Placement
**				Menu
********************************************************/

.top_frame
{
	width:100%;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	background-color:#042614;
	border-radius: 15px;
	/*border: 1px solid red;*/
}

.top_menu_frame
{
	width:950px;
	height:45px;
	margin-left:auto;
	margin-right:auto;
	/*border: 1px solid white;*/
}

.top_menu_frame_menu_options
{
	float:left;
	color:white;
	margin-left:40px;
	margin-top:30px;
	font-size:23px;
	cursor:pointer;
	font-family:Arial;
	/*border: 1px solid white;*/
}


.top_menu_frame_menu_login
{
	float:right;
	color:white;
	margin-right:100px;
	margin-top:30px;
	font-size:23px;
	cursor:pointer;
	font-family:Arial;
	/*border: 1px solid white;*/
}



.top_menu_frame_menu_options_left_most
{
	float:left;
	color:white;
	margin-left:50px;
	margin-top:30px;
	font-size:23px;
	cursor:pointer;
	font-family:Arial;
	/*border: 1px solid white;*/	
}

.top_menu_link
{
	color:white;
	text-decoration:none;
}


.logo_frame
{
	width:250px;
	height:50px;
	margin-left:5%;
	margin-top:15px;
	float:left;
	cursor:pointer;
	/*border: 1px solid white;*/
}

/*******************************************************
**			Middle Frame
**				Content
**				Cluster Engine Interface
********************************************************/

.middle_frame
{
	width:100%;
	margin-top:3px;
	border-radius: 15px;
	border: 1px solid #042614;
}

.blank_frame
{
	margin-top:20px;
	/*border: 1px solid #042614;*/
}



/*******************************************************
**			Footer Frame
**				
********************************************************/
/* footer */
.footer_frame
{
	width:100%;
	height:40px;
	margin-top:5px;
	border-radius: 10px;
	background-color:#042614;	
	border: 1px solid #042614;
}
.footer_text
{
	width:200px;
	color:white;
	margin:auto;
	margin-top:8px;
	font-family:Arial;
	font-size:20px;
	/*border: 1px solid white;*/
}

