
	<link rel="stylesheet" type="text/css" href="/media/create_new_list/import_section.css" />		

	<div class='import_header_label'><b>Paste Your List Here</b></div>
	<div class='import_big_container'>

		<textarea class='import_input_box' rows="2"></textarea>

		<div class='import_button_outter'>
			<div class='import_button_inner'>
				Import
			</div>
		</div>
		
	</div>

	<script type='text/javascript' src="/media/JQ_LIB/jquery.js"></script>
	<script type='text/javascript' src="/media/create_new_list/import_section.js"></script>
