	
	hi
	<div class='data_graph' id="ori_data" style="height:500px; width:800px;"></div>
	<div class='data_graph' id="chart2" style="height:500px; width:800px;"></div>
	
	<script type='text/javascript' src="/media/JQ_LIB/jquery.js"></script>


	<script type="text/javascript" src="/media/JQ_LIB/jplot/jquery.jqplot.min.js"></script>

	<script type="text/javascript" src="/media/JQ_LIB/jplot/plugins/jqplot.barRenderer.min.js"></script>
	<script type="text/javascript" src="/media/JQ_LIB/jplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
	<script type="text/javascript" src="/media/JQ_LIB/jplot/plugins/jqplot.pointLabels.min.js"></script>


	
	<script type="text/javascript" src="/media/JQ_LIB/jplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="/media/JQ_LIB/jplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
	
	<script type='text/javascript' src="/media/vocabulary_training/test_home.js"></script>

